.software{
	width:432px;
	height:591px;
}

@media screen
	and (min-width: 1200px){
		.software{
			background: url(software.png) 0px 0px;
		}
	}

@media screen
	and (min-width: 1000px)
	and (max-width: 1200px){
		.software{
			background: url(software.png) 770px 0px;

		}
	}

@media screen
	and (min-width: 800px)
	and (max-width: 1000px){
		.software{
			background: url(software.png) 345px 0px;
			width:345px;

		}
	}

@media screen
	and (min-width: 600px)
	and (max-width: 800px){
		.software{
			background: url(software.png) 0px -591px;
			height: 625px;
			width:725px;

		}
	}

@media screen
	and (max-width: 600px){
		.software{
			background: url(software.png) -725px -580px;
			height: 635px;
			width: 480px;

		}
	}
