.software{
	background: url("../responsive/software.png");
	width:1204px;
	height:1211px;
}

@media screen and (max-width: 1024px){
	.software{
		left: 50%;
		margin-left: -100px;

	}
}

@media screen and (max-width: 600px){
	.software{
		left: 55%;
		margin-left: -100px;

	}
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

}

