body {
    font-family: Papyrus;
    font-weight: 300;
}

#lyrics {
    text-align: center;
    font-size: 30px;
}

#title {
    text-align: center;
    font-size: 40px;
}

video {
    display: block;
    margin: 0 auto;
    width: 450px;
}
